[Unit]
Description=Robot control service


[Service]
ExecStartPre=-sudo pigpiod
ExecStart=/usr/bin/python3 /home/pi/CreateLabPupperLibrary/start_robot.py
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
